#locationMap {
	width: 100%;
	height: 400px;
}

#hotelMap {
	width: 100%;
	height: 400px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
}

.hotelSingleLocation {
	width: 100%;
	height: 300px;
}

.offersSlider {
	height: 300px;
	max-width: 600px;
}

.slick-list {
	height: 100%;
}

.slick-track {
	height: 100%;
}

.slick-prev::before {
	color: black;
	font-size: 44px;
	z-index: 100;
}

.slick-next::before {
	color: black;
	font-size: 44px;
	z-index: 100;
}

.slick-next {
	/* right: 2px; */
	height: 44px;
	width: 44px;
}

.slick-prev {
	/* right: 2px; */
	height: 44px;
	width: 44px;
}
